@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap');
:root {
  --shadow: 1px 1px 5px rgb(0,0,0, 0.5);
}
* {
  outline: 0px solid lightgray;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #eee;
  line-height: 1.6;
  display: flex;
  justify-content: center;
}

.container {
  width: 80vw;
  margin: 20px;
  padding: 20px;
  background-color: white;
  box-shadow: var(--shadow);
}
.navBar {
  border-bottom: 1px solid lightblue;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}

button {
  background-color: rgb(48, 192, 240);
  color: white;
  border: 0;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: gray;
}

a.addMovie {
  background-color: rgb(48, 192, 240);
  color: white;
  border: 0;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

a {
  text-decoration: none;
  display: block;
  color: black;
  cursor: pointer;
}

.listItem a {
  color: blue;
}

.sideNav a.active, .sideNav a:hover {
  background-color: lightblue;
  color: white
}

ul {
  list-style-type: none;
  display: flex;  
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 0px;
}
ul > li {
  flex-basis: 15%;
}
.searchBar {
  display: flex;
  align-items: center;
}

.searchBar input {
  margin-left: 10px;
  padding: 5px;
  border: 1px solid lightgray;
}

.searchBar input:focus {
  border: 1px solid lightblue;
}

.searchBar button {
  background-color: white;
  color: black;
  border-radius: 0%;
  padding: 0px;
  margin-left: 10px;
}

.searchBar *.hide {
  display: none;
}

.searchBar *.show {
  display: visible;
}

main {
   display: flex;
   flex-direction: row;
}

main .sideNav {
  flex-basis: 15%;
  margin-right: 20px;
}

main .movies {
  flex-basis: 85%;
  width: 100%;
}

.sideNav ul {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  padding: 0;
 }

.sideNav ul > li {
   border-top: 1px solid lightgray;
 }

button.favoriteMovie {
   background-color: white;
   color: red;
 }

.movies .last {
   flex-basis: 10%;
 }

.listTitle {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

footer {
  display: flex;
  justify-content: center;
}

footer > ul > li {  
  border: 1px solid lightgray;
  margin-right: 10px;
  border-radius: 30%;
}

footer button {
  background-color: transparent;
  color: lightblue;
  font-size: 1rem;
}

footer button.selected, footer button:hover {
  background-color: lightblue;
  color: white;
}

.formWrapper {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  line-height: 1.5rem;
  font-size: 1rem;
}
.formWrapper h1 {
  margin-bottom: 20px;
  color: rgb(48, 192, 240);
}

form {
  display: flex;
  flex-direction: column;
}

form>input {
  padding: 5px 5px;
  border: 1px solid rgb(0,0,0,0.2);
  border-radius: 5%;
}

form>select {
  padding: 5px 5px;
  border: 1px solid rgb(0,0,0,0.2);
  border-radius: 5%;
}
form>select:focus {
  border: 1px solid lightblue;
}

form>input:focus {
  border: 1px solid lightblue;
}
form>button {
  margin-top: 10px;
  width: fit-content;
  /* align-self: center; */
  background-color: rgb(48, 192, 240);
  box-shadow: var(--shadow);
}

form>button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

form>span {
  display: none;
}

form>span.error {
  display: contents;
  color: red;
}